.jumbotron {
  background-image: linear-gradient(#00416a,#e4e5e6);
}

.backgroundColor {
  background: gray;
}

#bgColor{
  cursor: pointer;
  font-weight: bold;
}

#image{
  cursor:pointer;
  font-weight: bold;
}

li{
  cursor:pointer;
}
